RewriteEngine On

# Existing files/directories -> Directly Serve
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Other request → 404.php
RewriteRule ^ 404.php [L]